<div>
    <mat-form-field class="example-form-field">
        <mat-label>US Tel</mat-label>
        <input 
            matInput type="text" 
            placeholder="US Tel"
            [textMask]="{mask: USTel}"
        >
    </mat-form-field>
</div>

<div>
    <mat-form-field class="example-form-field">
        <mat-label>VN Tel</mat-label>
        <input 
            matInput type="text" 
            placeholder="VN Tel"
            [textMask]="{mask: VNTel}"
        >
    </mat-form-field>
</div>

<div>
    <mat-form-field class="example-form-field">
        <mat-label>Salary</mat-label>
        <input 
            matInput type="text" 
            placeholder="Salary"
            [textMask]="{mask: VNDMask}"
        >
    </mat-form-field>
</div>